<div class="panel panel-default" ng-controller="renewalsController"> 
    
   <div class="input-group  col-xs-4" style="padding:15px; width:100%" >
   		<img class="img-rounded" style="float:left; border:1px solid grey;" ng-src="{{shopImgUrl}}" alt="" height='65' width='65'>       
        <input type="text" style="float:left; margin-left:10px; margin-top:15px; margin-right:10px; width:350px;" class="form-control" id="listingFilter" ng-model="myListingsFilter" placeholder="search by title">             
        <button class="btn btn-large btn-danger" style="float:right; margin-top:15px; margin-right:10px; width:120px;" ng-click="delete_all()"type="button" >CANCEL ALL</button>              
   </div>   
   <table class="table table-hover table-condensed table-responsive table-fixed">
   	<thead>
            <tr>
                <th class="col-xs-1">&nbsp;</th>
                <th class="col-xs-1">&nbsp;</th>
                <th class="col-xs-6">Title</th>
                <th class="col-xs-1">Repeat</th>
                <th class="col-xs-4">Scheduled Date/Time (Local)</th>
            </tr>
	</thead>
    </table>		
    
    <div style="overflow-y:auto; height:500px; width:100%; border:0px solid orange;">
    <table class="table table-hover table-condensed table-responsive table-fixed">
        <tbody>
        <tr ng-repeat = "renewal in myRenewals | filter: myListingsFilter" ng-class="(renewal.RenewalStatus==='F') ? 'warning' : ''" >
            <td class="col-xs-1"><button type="button" class="btn btn-default" ng-click="delete(renewal)">Cancel</button></td>
            <td class="col-xs-1"><img class='img-rounded' src='{{ renewal.ImageUrl }}' alt='' height='65' width='65'></td>
            <td class="col-xs-6">{{ renewal.Title }}</td>
            <td class="col-xs-1">{{ renewal.RenewalStatus==='F'?getForeverDesc(renewal):'One time' }}</td>
            <td class="col-xs-4">{{renewal.LocalDateTime.replace(' ','T') | date:'medium' }}</td>    
	</tr>
    </tbody>
    </table>				
    </div>    
</div>	 
	 